@import 'variables';
@import 'mixins';

.detector {
  // h = 100vh - 88px - 24px - 24px = 100vh - 136px
  border-radius: 30px;
  border: 1px solid $grey;
  background: #FFF;
  height: 100%;
  padding: 24px 40px 24px 24px;
  &__row {
    display: flex;
    flex-direction: row;
    height: 100%;
  }
  &__sidebar {
    width: $sidebarWidth;
    flex: 0 0 $sidebarWidth;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 24px;
    border-right: 1px solid $grey;
    &__score {
      h2 {
        margin-top: 16px;
        font-weight: 600;
        font-size: 24px;
        margin-bottom: 16px;
      }
      &__title {
        h2:last-child {
          display: none;
        }
        h2:first-child {
          display: block;
        }
      }
      &__feedback {
        display: none;
        margin-top: 16px;
        h4 {
          font-size: 16px;
          font-weight: 600;
          margin-bottom: 3px;
        }
      }
      &._active &__title {
        h2:last-child {
          display: block;
        }
        h2:first-child {
          display: none;
        }
      }
      &._active &__feedback {
        display: block;
      }
      &__percent {
        font-size: 72px;
        font-weight: 600;
        margin-bottom: 0;
        line-height: 72px;
        font-style: normal;
        display: flex;
        align-items: center;
        span {
          display: none;
        }
        img {
          width: 72px;
          height: 72px;
        }
      }
      &__bar {
        height: 40px;
        border-radius: 8px;
        border: 1px solid #D9D9D9;
        span {
          display: block;
          height: 100%;
          border-radius: 8px;
          width: 100%;
          background: linear-gradient(92deg, #E4E4E4 0%, #BFBFBF 100%);
        }
      }
      &._active &__bar span {
        background: linear-gradient(92deg, #FF5F6D 0%, #FFC371 100%);
      }
      &._active &__percent span {
        display: inline;
      }
    }
    &__description {
      h1 {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 10px;
      }
      p {
        font-size: 14px;
        line-height: 21px;
      }
    }
  }
  &__content {
    width: calc(100% - $sidebarWidth);
    flex: 0 0 calc(100% - $sidebarWidth);
    padding-left: 40px;
    &__input-group {
      margin-bottom: 24px;
      label {
        display: block;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 8px;
      }
      input, textarea {
        font-size: 14px;
        padding: 11px 16px;
        border-radius: 8px;
        border: 1px solid #E1E1E1;
        background: #FFF;
        width: 100%;
        &:focus {
          outline: none;
          border-color: #333;
        }
        &::placeholder {
          opacity: 1;
          color: #858585;
        }
      }
      textarea {
        resize: none;
        height: calc(100% - 20px);
      }
      &--textarea {
        height: calc(100% - 157px);
      }
    }
    &__submit {
      height: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__button {
        position: relative;
        &._active {
          button {
            background: $medium;
          }
        }
        &._active &__hint {
          display: none;
        }
        &__hint {
          position: absolute;
          border-radius: 8px;
          border: 1px solid #E1E1E1;
          background: #FFF;
          padding: 8px;
          width: 151px;
          font-size: 14px;
          right: 0;
          top: -55px;
        }
        button {
          @include button;
          background: #B6B6B6;
          color: white;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .detector {
    height: auto;
    padding: 15px 15px 30px;
    &__row {
      display: block;
    }
    &__sidebar {
      h1 {
        margin-top: 30px;
      }
      height: auto;
      width: 100%;
      padding: 15px 0;
      border: 0;
    }
    &__content {
      width: 100%;
      padding-left: 0;
      &__input-group {
        &--textarea {
          height: 350px;
        }
      }
    }
  }
}