@import 'variables';

.profile {
  &__row {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
  }
  &__col {
    padding-left: 15px;
    padding-right: 15px;
  }
  &__sidebar, &__content {
    background: white;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
    border-radius: 8px;
  }
  &__sidebar {
    width: 305px;
    padding: 30px 24px 24px 24px;
    h3 {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 40px;
    }
    &__item, &__item button {
      padding: 0;
      margin: 0 0 40px;
      display: flex;
      align-items: center;
      color: #807D80;
      font-size: 16px;
      border: none;
      outline: none;
      background: none;
      cursor: pointer;
      text-decoration: none;
      &__icon img:nth-child(2) {
        display: none;
      }
      &._active &__icon img:nth-child(2) {
        display: block;
      }
      &._active &__icon img:first-child {
        display: none;
      }
      &._active {
        color: $medium;
      }
      &__icon {
        margin-right: 16px;
        width: 24px;
        height: 24px;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    &__item button {
      margin-bottom: 0;
    }
  }
  &__content {
    width: calc(100% - 305px);
  }
}