@import 'variables';
@import 'mixins';

.profile {
  &__row {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
  }
  &__col {
    padding-left: 15px;
    padding-right: 15px;
      &:last-child {
          width: 100%;
      }
  }
  &__sidebar, &__content {
    background: white;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
    border-radius: 8px;
  }
  &__sidebar {
    width: 305px;
    padding: 30px 24px 24px 24px;
    h3 {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 40px;
        a {
            text-decoration: none;
            color: #000;
        }
    }
    &__item, &__item button {
      padding: 0;
      margin: 0 0 40px;
      display: flex;
      align-items: center;
      color: #807D80;
      font-size: 16px;
      border: none;
      outline: none;
      background: none;
      cursor: pointer;
      text-decoration: none;
      &__icon img:nth-child(2) {
        display: none;
      }
      &._active &__icon img:nth-child(2) {
        display: block;
      }
      &._active &__icon img:first-child {
        display: none;
      }
      &._active {
        color: $medium;
      }
      &__icon {
        margin-right: 16px;
        width: 24px;
        height: 24px;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    &__item button {
      margin-bottom: 0;
    }
  }
  &__content {
      background: white;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
      border-radius: 8px;
      padding: 24px;
  }
    &__personal {
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 30px;
        padding-top: 15px;
        &__row {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            margin-left: -15px;
            margin-right: -15px;
        }
        &__input-group {
            max-width: 33.3%;
            flex: 0 0 33.3%;
            margin-top: 16px;
            padding-right: 15px;
            padding-left: 15px;
            label {
                font-size: 14px;
                font-weight: 500;
                display: block;
                width: 100%;
                margin-bottom: 5px;
                text-align: left;
            }
            input {
                font-size: 14px;
                padding: 11px 16px;
                border-radius: 8px;
                background: #FFF;
                width: 100%;
                border: 1px solid #807D80;
                &:focus {
                    outline: none;
                    border-color: #333;
                }
                &::placeholder {
                    opacity: 1;
                    color: #858585;
                }
            }
            button {
                @include button;
                background: $medium;
                color: white;
                margin: auto;
                padding: 13px 26px;
                font-size: 18px;
            }
        }
    }
    &__save {
        display: flex;
        justify-content: end;

    }
    &__save &__personal__input-group{
        width: auto;
        max-width: none;
        display: inline-block;
        flex: 0 0 auto;
    }


    &__transactions {
        a {
            @include button;
            background: $medium;
            color: white;
            text-decoration: none;
            margin-top: 15px;
            font-size: 18px;
        }
    }
}

@media (max-width: 992px) {
  .profile {
    &__row {
      flex-direction: column;
    }
    &__sidebar {
      width: 100%;
      margin-bottom: 15px;
    }
    &__personal {
      &__row {
        flex-direction: column;
      }
      &__input-group {
        max-width: 100%;
        flex: 0 0 100%;
      }
    }
  }
}
