.profile__row {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
}
.profile__col {
  padding-left: 15px;
  padding-right: 15px;
}
.profile__col:last-child {
  width: 100%;
}
.profile__sidebar, .profile__content {
  background: white;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}
.profile__sidebar {
  width: 305px;
  padding: 30px 24px 24px 24px;
}
.profile__sidebar h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 40px;
}
.profile__sidebar h3 a {
  text-decoration: none;
  color: #000;
}
.profile__sidebar__item, .profile__sidebar__item button {
  padding: 0;
  margin: 0 0 40px;
  display: flex;
  align-items: center;
  color: #807D80;
  font-size: 16px;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  text-decoration: none;
}
.profile__sidebar__item__icon img:nth-child(2), .profile__sidebar__item button__icon img:nth-child(2) {
  display: none;
}
.profile__sidebar__item._active .profile__sidebar__item__icon img:nth-child(2), .profile__sidebar__item._active .profile__sidebar__item button__icon img:nth-child(2), .profile__sidebar__item button._active .profile__sidebar__item__icon img:nth-child(2), .profile__sidebar__item button._active .profile__sidebar__item button__icon img:nth-child(2) {
  display: block;
}
.profile__sidebar__item._active .profile__sidebar__item__icon img:first-child, .profile__sidebar__item._active .profile__sidebar__item button__icon img:first-child, .profile__sidebar__item button._active .profile__sidebar__item__icon img:first-child, .profile__sidebar__item button._active .profile__sidebar__item button__icon img:first-child {
  display: none;
}
.profile__sidebar__item._active, .profile__sidebar__item button._active {
  color: #FF7664;
}
.profile__sidebar__item__icon, .profile__sidebar__item button__icon {
  margin-right: 16px;
  width: 24px;
  height: 24px;
}
.profile__sidebar__item__icon img, .profile__sidebar__item button__icon img {
  width: 100%;
  height: 100%;
}
.profile__sidebar__item button {
  margin-bottom: 0;
}
.profile__content {
  background: white;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 24px;
}
.profile__personal {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 30px;
  padding-top: 15px;
}
.profile__personal__row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: -15px;
  margin-right: -15px;
}
.profile__personal__input-group {
  max-width: 33.3%;
  flex: 0 0 33.3%;
  margin-top: 16px;
  padding-right: 15px;
  padding-left: 15px;
}
.profile__personal__input-group label {
  font-size: 14px;
  font-weight: 500;
  display: block;
  width: 100%;
  margin-bottom: 5px;
  text-align: left;
}
.profile__personal__input-group input {
  font-size: 14px;
  padding: 11px 16px;
  border-radius: 8px;
  background: #FFF;
  width: 100%;
  border: 1px solid #807D80;
}
.profile__personal__input-group input:focus {
  outline: none;
  border-color: #333;
}
.profile__personal__input-group input::placeholder {
  opacity: 1;
  color: #858585;
}
.profile__personal__input-group button {
  display: inline-flex;
  padding: 11px 16px;
  justify-content: flex-end;
  align-items: center;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  background: #FF7664;
  color: white;
  margin: auto;
  padding: 13px 26px;
  font-size: 18px;
}
.profile__save {
  display: flex;
  justify-content: end;
}
.profile__save .profile__personal__input-group {
  width: auto;
  max-width: none;
  display: inline-block;
  flex: 0 0 auto;
}
.profile__transactions a {
  display: inline-flex;
  padding: 11px 16px;
  justify-content: flex-end;
  align-items: center;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  background: #FF7664;
  color: white;
  text-decoration: none;
  margin-top: 15px;
  font-size: 18px;
}

/*# sourceMappingURL=profile.css.map */
